@use "../../fonts/index" as fonts;
@use "../../scss/defaults" as def;

.container {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

button.start {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 10px;
  padding: 30px 30px;
  font-size: 2rem;
  letter-spacing: 5px;
  font-family: fonts.$logo-font-alt;
  box-shadow: 5px 5px 4px rgba(lighten(def.$button-color, 10), 0.25);
  transition: all 150ms linear;

  &:hover {
    top: 4px;
    left: 4px;
    box-shadow: 3px 3px 5px rgba(#000, 0.35);
  }
}
