.container {
  position: relative;
  width: 100vw;
}

.ship-container {
  position: relative;
  display: inline-flex;
  height: 100%;
  width: 50px;
  margin-left: 100px;
  background-color: rgba(lime, .5);
  z-index: 90;
}

#ship {
  position: absolute;
  display: flex;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(red, .5);
  z-index: 99;

  transition: all 50ms ease-in-out;
  
  .texture {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
    transform: rotateZ(90deg);
    background-image: url(../../assets/img/ship_3.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
