<div class="container">
  <div class="window">

    <div class="toolbar">
      <div class="left">

      </div>

      <div class="middle">
        <span class="title">
          {{title}}
        </span>
      </div>

      <div class="right">
        <div></div>
        <div></div>
        <button class="close custom" (click)="close()">
          <img src="../../assets/img/plus.png" alt="" srcset="">
        </button>
      </div>
    </div>

    <div class="content-area">
      <div class="content">
        <p>
          Press <kbd>esc</kbd> to close window.
        </p>
        <p>
          Press <kbd>h</kbd> to open help window.
        </p>
        <p>
          Press <kbd>f</kbd> to enter fullscreen.
        </p>
        <p>
          Control ship with <kbd>w</kbd> and <kbd>s</kbd>.
        </p>
        <p>
          App is currently in development.
        </p>
      </div>
    </div>

  </div>
</div>