@use "fonts/index" as fonts;
@use "scss/defaults" as def;
@use "scss/mixins" as mix;

@forward "scss/asteroid";
@forward "scss/ship";

:root {
  font-size: 16px;
  font-family: def.$defalut-font;
  font-weight: 300;
  letter-spacing: 2px;
}

::selection {
  background-color: def.$selection-color;
}

body {
  margin: 0;
  padding: 0;
  color: def.$text-color;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url(./assets/img/game_bg_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

button:not(.custom) {
  position: relative;
  display: block;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-transform: uppercase;
  background-color: def.$button-color;
  cursor: pointer;
  color: #cfcfcf;
  font-size: 1rem;
  transition: background-color 125ms ease-out, color 75ms linear;

  &:hover {
    background-color: def.$button-hover-color;
    color: #fff;
  }

  &:focus {
    outline: none;
    border: none;
  }
}

button.custom {
  border-radius: 0;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: default;

  &:focus {
    outline: none;
    border: none;
    background-color: transparent;
  }

  &:hover {
    outline: none;
    border: none;
    background-color: transparent;
  }
}

.logo {
  font-family: def.$logo-font;
  text-transform: uppercase;
  letter-spacing: 2px;
}

kbd {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 3px 6px;
  border-radius: 5px;
  font-weight: normal;
  font-size: 0.8rem;
  margin-left: 2px;
  margin-right: 2px;
  background-color: def.$kbd-dark;
  font-family: def.$kbd-font;
}

.no-transition {
  -webkit-transition: 0s !important;  
  -moz-transition: 0s !important;
  -o-transition: 0s !important;
  transition: 0s !important;
}
