.asteroid {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  // background-color: yellow; // temp
  background-image: none;
  background-repeat: no-repeat;
  background-size: cover;

  transition: all 20s linear;
}