@use "../../fonts/index" as fonts;
@use "../../scss/defaults" as def;
@use "../../scss/mixins" as mix;

.container {
  @include mix.container(true);
  display: block;
}

.game-over {
  text-align: center;
  text-transform: uppercase;
  font-size: 3.5rem;
  margin-top: 7.5%;
}

.sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 0.75rem;

  kbd {
    font-size: 0.75rem;
    margin-left: 5px;
    margin-right: 5px;
  }
}

.stats {
  width: 100%;
  min-height: 10%;
  max-height: 30%;
  margin-top: 10%;

  p {
    margin-left: 5ch;
    font-size: 1.1rem;
  }

  .stat-data {
    color: #c7ecee;
    animation: animate-stat-data 3s infinite;
  }
}

@keyframes animate-stat-data {
  0% {
    color: #c7ecee;
  }
  50% {
    color: #3498db;
  }
  100% {
    color: #c7ecee;
  }
}
